.get-started {
  background-color: #534096;
  display: flex;
  margin: 5rem 4rem 0 4rem;
  align-items: center;
  gap: 4rem;
  padding: 2rem 4rem;
  .left {
    flex: 3;
    h1 {
      color: white;
    }
    p {
      color: white;
      text-align: left;
    }
  }
  .right {
    flex: 1;
    .btn {
      border-radius: 20px;
      background-color: white;
      color: #534096;
      font-size: calc(1.2rem + 0.4vw);
      padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}
.red-bg {
  background-color: #d33034;
}
.btn.red-text {
  color: #d33034 !important;
}

.green-bg {
  background-color: #388E3C;
}
.btn.green-text {
  color: #388E3C !important;
}
@media screen and (max-width: 800px) {
  .get-started {
    flex-direction: column;
    text-align: center;
    margin: 5rem 0 0 0;

    .left {
      p {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .get-started {
    padding: 2rem 1rem;
  }
}
