@import "./variables";

.hero {
  grid-column: container-start / container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 4vw 10vh 4vw;
  background-color: $background;
  min-height: 90vh;
  color: $text-color;

  h1 {
    font-size: 7rem;
  }

  h1.span {
    letter-spacing: normal;
    padding-left: 3px;
  }

  p {
    font-size: 28px;
    font-weight: 200;
    margin-bottom: calc(1rem + 2vw);
  }

  p .dot {
    background-color: $blue;
    width: 9px;
    height: 9px;
    margin-top: 5px;
    border-radius: 50%;
    display: inline-block;
  }
  .hero-img {
    padding: 10rem 0 0 0;
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    h1 {
      font-size: 5.3rem;
    }
    .hero-img {
      width: 400px;
    }
  }
}
@media screen and (max-width: 500px) {
  .hero {
    h1 {
      font-size: 4.5rem;
    }
    p {
      padding-bottom: 5rem;
    }
    .hero-img {
      width: 300px;
    }
  }
}
@media screen and (max-width: 330px) {
  .hero {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
    .hero-img {
      width: 250px;
    }
  }
}
