.privacy {
  grid-column: container-start / container-end;
  padding: 10rem 20rem;
  line-height: 2.2;
  &__title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  &__small-title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
  &__para {
    font-size: 14px;
    padding: 1rem 0;
    text-align: start;
  }
  //*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*
  @media screen and (max-width: 900px) {
    padding: 5rem 2.5rem;
  }
}
