@import "./variables";
@import "./navigation";
@import "./blogs";
@import "./about";
@import "./hero";
@import "./products";
@import "./about-us";
@import "./footer";
@import "./login";
@import "./form";
@import "./contact";
@import "./privacy-policy";
@import "./product";
@import "./skyz-demo";
@import "./get-started";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
}

a {
  text-decoration: none;
  font-size: 16px;
  color: $text-color;
}

h1 {
  font-size: 33px;
  font-weight: 300;
  color: $text-color;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
h3 {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
p {
  font-size: calc(1.5rem + 0.4vw);
  text-align: center;
}

.App {
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.66667rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: repeat(9, min-content);
}

/* Btns */
.btns-container {
  display: flex;
  gap: 2rem;
  z-index: 9;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

.btn-primary {
  font-size: calc(1.2rem + 0.4vw);
  font-weight: 500;
  border: 2px solid $blue;
  color: $blue;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 16px 48px;
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(67, 72, 207, 0.333);
}

.btn-secondary {
  font-size: calc(1.2rem + 0.4vw);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: $blue;
  transition: all 0.3s ease-in-out;
  padding: 16px 48px;
}
.btn-secondary:hover {
  background-color: $blue-hover;
}

.btn-orange {
  background-color: $orange;
  color: $text-color-on-orange;
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-orange:hover {
  background-color: $orange-hover;
}
