@import "./variables";
@import "./navigation";
@import "./blogs";
@import "./about";
@import "./hero";
@import "./products";
@import "./about-us";
@import "./footer";
@import "./login";
@import "./form";
@import "./contact";
@import "./privacy-policy";
@import "./side-nav";
@import "./product";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

h1 {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
h3 {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
p {
  font-size: calc(1.2rem + 0.4vw);
  text-align: center;
  font-weight: 200;
}

.App {
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.66667rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: repeat(9, min-content);
}

/* Btns */
.btns-container {
  display: flex;
  gap: 1rem;
  z-index: 9;
}

.btn-primary {
  font-size: 16px;
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: 1.4px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
}

.btn-secondary {
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #3c4043;
  background-color: #d6e2db;
  transition: all 0.3s ease-in-out;
}
.btn-secondary:hover {
  color: #d6e2db;
  background-color: #3c4043;
}
