.hero {
  grid-column: container-start / container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 4vw;
  background-color: lightblue;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

h1.span {
  letter-spacing: normal;
  padding-left: 3px;
}

p {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: calc(1rem + 2vw);
}
