.navbar {
  width: 100%;
  height: 8rem;
  line-height: 7rem;
  position: fixed;
  max-width: 1700px;
  padding: 0 3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  z-index: 99;
}
.navbar .anticon-menu {
  font-size: 32px;
  width: 65px;
  cursor: pointer;
  display: none;
}
.navbar img {
  display: flex;
}
.navbar .links {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 30px;
}
.navbar .links .link {
  cursor: pointer;
  color: #2b2b4f;
  transition: all 0.3s ease-in-out;
}
.navbar .links .link:hover {
  color: #2b74ba;
}
.navbar .links .lang {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .navbar .links {
    width: 300px;
    height: 100vh;
    background-color: #eeefef;
    position: absolute;
    top: 65px;
    left: -500px;
    transition: 300ms ease left;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    gap: 0.1rem;
  }
  .navbar .links.active {
    left: 0px;
  }
  .navbar .anticon-menu {
    display: flex;
  }
}
.blogs {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15vh 4vw;
  background-color: #f5f7f6;
  height: 100%;
}
.blogs p {
  padding: 1rem 4rem;
}
.blogs .blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 4vw 4rem 4vw;
  gap: 2rem;
}
.blogs .blogs-container .blog {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.blogs .blogs-container .blog h3 {
  text-align: center;
  padding: 0.5rem 1rem;
}
.blogs .blogs-container .blog p {
  font-size: 14px;
  padding: 0.5rem 1rem;
}
.blogs .blogs-container .blog .img-container {
  width: 100%;
  height: 200px;
  display: flex;
}
.blogs .blogs-container .blog .img-container img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .blogs .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 4vw 4rem 4vw;
    gap: 2rem;
  }
  .blogs .blogs-container .blog .img-container {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .blogs .blogs-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 4vw 4rem 4vw;
    gap: 2rem;
  }
  .blogs .blogs-container .blog .img-container {
    height: 230px;
  }
}
.about {
  grid-column: container-start/container-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .about {
    padding: 5rem 2rem;
  }
}
.hero {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 4vw 10vh 4vw;
  background-color: #eff6ff;
  min-height: 90vh;
  color: #2b2b4f;
}
.hero h1 {
  font-size: 7rem;
}
.hero h1.span {
  letter-spacing: normal;
  padding-left: 3px;
}
.hero p {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: calc(1rem + 2vw);
}
.hero p .dot {
  background-color: #6160ff;
  width: 9px;
  height: 9px;
  margin-top: 5px;
  border-radius: 50%;
  display: inline-block;
}
.hero .hero-img {
  padding: 10rem 0 0 0;
  width: 500px;
}

@media screen and (max-width: 800px) {
  .hero h1 {
    font-size: 5.3rem;
  }
  .hero .hero-img {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 4.5rem;
  }
  .hero p {
    padding-bottom: 5rem;
  }
  .hero .hero-img {
    width: 300px;
  }
}
@media screen and (max-width: 330px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 2rem;
  }
  .hero .hero-img {
    width: 250px;
  }
}
.products {
  grid-column: container-start/container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
  padding: 1vh 4vw 6vh 4vw;
  background-color: #fff;
}
.products .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
  background-color: #f0f3f5;
  color: #546a78;
  padding: 2rem;
  border-radius: 30px;
}
.products .product .header {
  display: flex;
  line-height: normal;
  align-items: flex-end;
}
.products .product .header img {
  width: 100px;
}
.products .product p {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .products {
    padding: 1rem;
    gap: 1rem;
  }
}
.about-us {
  grid-column: container-start/container-end;
  padding: 20vh 4vw;
  display: flex;
  align-items: start;
  gap: 4rem;
  color: #2b2b4f;
  background-color: #f0f3fe;
}
.about-us p {
  text-align: left;
  text-align: justify;
}
.about-us img {
  max-width: 500px;
}
@media screen and (max-width: 900px) {
  .about-us {
    flex-direction: column-reverse;
  }
  .about-us img {
    max-width: 200px;
    align-self: center;
  }
}

.footer {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  height: 52px;
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.footer p {
  font-size: 12px;
  letter-spacing: 0.3px;
}

.login {
  grid-column: container-start/container-end;
  border-top: 1px solid #cecece;
  padding: 20vh 4vw;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.login .content {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #3c4043;
  gap: 4rem;
}
.login .content .form {
  background-color: #d6e2db;
  color: #3c4043;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.login .content .form .fields {
  width: 100%;
  margin: 2rem 0 0 0;
}
.login .content .form .btn {
  width: 100%;
  margin: 1rem 0 2rem 0;
}
.login .content .form .form-control {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 5px;
}
.login .content .form .form-control label {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  cursor: pointer;
  font-size: 16px;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login {
  -webkit-appearance: none;
  appearance: none;
  margin: 5px 0;
  cursor: pointer;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 1.9px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
  background-color: #3c4043;
}
.login .content .form .form-control label input[type=checkbox].checkbox-login:checked::before {
  transform: scale(1);
}
.login .content .form .form-control label input[type=checkbox].checkbox-login:focus {
  /* outline: max(2px, 0.15em) solid currentColor; */
  outline-offset: max(2px, 0.15em);
}
.login .content .form .form-control a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0;
}
.login .content .form .login-options {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 10px;
  width: 100%;
}
.login .content .form .login-options h4 {
  font-weight: 400;
  font-size: font-size(font-size-small);
  position: relative;
  text-align: center;
}
.login .content .form .login-options h4::before {
  content: "";
  display: block;
  width: 28%;
  height: 1.5px;
  position: absolute;
  left: 0;
  top: 50%;
}
.login .content .form .login-options h4::after {
  content: "";
  display: block;
  width: 28%;
  height: 1.5px;
  position: absolute;
  right: 0;
  top: 50%;
}
.login .content .form .login-options .img-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 47.25px;
  border-radius: 5px;
  cursor: pointer;
}
.login .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .content .info h3 {
  font-weight: 300;
  letter-spacing: -0.07em;
}
.login .content .info h3 span {
  letter-spacing: normal;
  padding-left: 3px;
}
.login .content .info .btn {
  align-self: center;
  margin-top: 5rem;
}
.login .content .info img {
  margin-top: 12rem;
  width: 300px;
}
@media screen and (max-width: 900px) {
  .login .content {
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
  }
  .login .content .info {
    text-align: center;
  }
  .login .content .info .btn {
    margin-top: 2rem;
  }
  .login .content .info img {
    align-self: center;
    margin-top: 3rem;
    width: 200px;
  }
}
@media screen and (max-width: 550px) {
  .login .content {
    width: 100%;
  }
  .login .content .info img {
    width: 150px;
  }
}

input[type=text],
input[type=password],
input[type=number] {
  box-sizing: border-box;
  border: none;
  padding: 0 0.5rem;
  font-size: 14px;
  color: #3c4043;
  background-color: transparent;
  width: 100%;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea {
  outline: none !important;
}

.field-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea .title {
  font-size: 16px;
  margin: 0.5rem;
  letter-spacing: 1px;
}
.textarea textarea {
  height: 200px;
  resize: none;
  padding: 10px;
  font-size: font-size(font-size-small);
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.field-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-container {
  background-color: #fff;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  height: 5rem;
  border-radius: 5px 0 0 5px;
}

.label-container .label-icon,
.label-container .label-text,
.label-container .rquired {
  font-size: 22px;
}

.label-container .rquired {
  color: rgb(131, 47, 47);
}

.input-container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  border-radius: 0 5px 5px 0;
  padding-left: 1rem;
}

input:focus {
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4eff4;
}

.input-type .input-type-text,
.input-type .input-icon {
  padding: 0.2rem 0.5rem;
}

.contact {
  grid-column: container-start/container-end;
  border-top: 1px solid #cecece;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20vh 4vw;
  background-color: #fff;
}
.contact .content {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #2b2b4f;
  gap: 4rem;
}
.contact .content .info {
  display: flex;
  flex-direction: column;
}
.contact .content .info p {
  text-align: start;
}
.contact .content .info .info-details {
  margin-top: 2rem;
}
.contact .content .info .info-details .detail {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0.7rem;
}
.contact .content .info .info-details .detail .google-map {
  margin-bottom: 20px;
}
.contact .content .info .info-details .detail .contact-icon {
  width: 28px;
}
.contact .content .info .info-img {
  margin-top: 4rem;
}
.contact .content .info .info-img img {
  width: 350px;
}
.contact .content .form {
  background-color: #f0f3f5;
  color: #546a78;
  border-radius: 30px;
  padding: 2rem;
  min-width: 400px;
}
.contact .content .form h2 {
  padding-bottom: 1rem;
}
.contact .content .form .btn {
  margin-top: 2rem;
  width: 100%;
}
.contact .color-red {
  color: hsl(4, 71%, 50%);
}
.contact .color-blue {
  color: hsl(207, 56%, 45%);
}
.contact .contact__error {
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  .contact .content {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }
  .contact .content .info {
    align-items: center;
  }
  .contact .content .info .info-img {
    margin-top: 3rem;
  }
  .contact .content .info .info-img img {
    width: 250px;
  }
}
@media screen and (max-width: 550px) {
  .contact {
    padding: 20vh 0;
  }
  .contact .content {
    width: 100%;
  }
  .contact .content .form {
    min-width: 0px;
    border-radius: 0;
  }
  .contact .content .info img {
    width: 150px;
  }
}

.privacy {
  grid-column: container-start/container-end;
  padding: 10rem 20rem;
  line-height: 2.2;
}
.privacy__title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-align: center;
}
.privacy__small-title {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.privacy__para {
  font-size: 14px;
  padding: 1rem 0;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .privacy {
    padding: 5rem 2.5rem;
  }
}

.side-nav {
  position: fixed;
  background-color: #f5f7f6;
  margin-top: 70px;
  width: 250px;
  height: 100%;
}
.side-nav .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background-color: #e5ebe8;
  padding: 10px 20px;
}
.side-nav .header .icon {
  background-color: #c5d0cc;
  border-radius: 50%;
  padding: 5px;
}
.side-nav .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.product-page-container {
  grid-column: container-start/container-end;
  padding: 5vh 0;
  background-color: #fff;
}
.product-page-container .product-section-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 7rem;
}
.product-page-container .product-section-container .right {
  margin: 0 50px;
}
.product-page-container .product-section-container .left img {
  width: 400px;
}
.product-page-container .product-section-container.row-reverse {
  flex-direction: row-reverse;
}
.product-page-container .product-section-container.row-reverse .right {
  margin-left: 0px;
}
.product-page-container .product-section-container.row-reverse .left {
  margin: 0 100px;
}
.product-page-container .product-section-container.row-reverse .left img {
  width: 300px;
}

.para h2 {
  padding-top: 20px;
  font-size: 21px;
  font-weight: 400;
}
.para p {
  color: #3f3f3f;
  text-align: start;
  font-size: 16px;
  font-weight: 300;
}
.para .link {
  color: #6160ff;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .product-page-container .product-section-container {
    flex-direction: column;
    gap: 1rem;
  }
  .product-page-container .product-section-container .right {
    margin-left: 60px;
  }
  .product-page-container .product-section-container .left {
    align-self: flex-end;
  }
  .product-page-container .product-section-container .left img {
    width: 300px;
  }
  .product-page-container .product-section-container.row-reverse {
    flex-direction: column;
  }
  .product-page-container .product-section-container.row-reverse .right {
    margin-left: 60px;
  }
  .product-page-container .product-section-container.row-reverse .left {
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .product-page-container .product-section-container .right {
    margin-left: 20px;
  }
  .product-page-container .product-section-container .left {
    align-self: flex-end;
  }
  .product-page-container .product-section-container .left img {
    width: 300px;
  }
  .product-page-container .product-section-container.row-reverse {
    flex-direction: column;
  }
  .product-page-container .product-section-container.row-reverse .right {
    margin-left: 20px;
  }
  .product-page-container .product-section-container.row-reverse .left {
    align-self: center;
  }
}
.skyz-demo {
  grid-column: container-start/container-end;
  padding: 10vh 10vw;
  background-color: #f5f7f6;
}
.skyz-demo__navbar {
  max-width: 2000px;
  width: 100%;
  background-color: #f6f8fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 16px;
  height: 6.5rem;
  z-index: 100;
  border: 1px solid gray;
}
.skyz-demo__navbar .navbar__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.skyz-demo__navbar .navbar__menu .side-toggle {
  cursor: pointer;
  display: none;
}
.skyz-demo__navbar .navbar__menu .side-toggle span {
  font-size: font-size(font-size-regular);
}
.skyz-demo__navbar .navbar__menu .navbar__menu--logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.skyz-demo__navbar .navbar__search {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-color: #fff;
}
.skyz-demo__navbar .navbar__search--links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.skyz-demo__navbar .navbar__personal {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.skyz-demo__navbar input[type=text].search-input::placeholder {
  opacity: 0.5;
  font-size: 22px;
}
.skyz-demo .active {
  display: none !important;
}
.skyz-demo .round-img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.skyz-demo .round-img-container img {
  width: 100%;
}
.skyz-demo .navbar__overlay {
  width: 100%;
  height: 100vh;
  background-color: lightcyan;
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}
.skyz-demo .navbar__overlay.open {
  display: block;
  opacity: 0.8;
}
.skyz-demo .skyz-demo__sidebar {
  width: 140px;
  top: 0;
  left: 0;
  z-index: 99;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100%;
  max-height: min-content;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content {
  position: relative;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  font-size: 14px;
  position: relative;
  width: 130px;
  transition: all 0.3s ease-in-out;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li span {
  font-size: 22px;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li--collapse {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li--collapse span {
  font-size: font-size(font-size-small);
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li.create-item {
  background-color: #c2e7ff;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: row;
  gap: 2rem;
  margin: 15px;
  color: black;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li.create-item span {
  color: black;
}
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li.create-item:hover,
.skyz-demo .skyz-demo__sidebar .sidebar__content--list li.create-item:active {
  background-color: #bcdef5;
}
.skyz-demo .active-sidebar {
  display: block;
}
.skyz-demo ul {
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
}

a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

h1 {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

p {
  font-size: calc(1.3rem + 0.4vw);
  text-align: center;
  font-weight: 200;
}

.App {
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(9, min-content);
}

/* Btns */
.btns-container {
  display: flex;
  gap: 1rem;
  z-index: 9;
}

.btn-primary {
  font-size: calc(1.2rem + 0.4vw);
  font-weight: 500;
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: 2px solid #6160ff;
  color: #6160ff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(67, 72, 207, 0.333);
}

.btn-secondary {
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #6160ff;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #5151d5;
}

.btn-orange {
  background-color: #ffaf62;
  color: #052e48;
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-orange:hover {
  background-color: #ff952f;
}/*# sourceMappingURL=base.css.map */